table, th, td {
    text-align: center;
    border: 1px solid #3f4554;
    /* center the table on the screen */
    margin: auto;
    /* make the table as wide as the screen */

    /* collapse the borders */
    /* make the table as wide as the screen */
}

table {
    max-width: 100%;
}

td.occupied {
    background: red;
}

td.now {
    background: #ad573a;
}

div.top {
    /* Align the text to the top center of the screen */
    text-align: center;
    font-size: xx-large;
    max-width: 95%;
    margin: auto;
}

div.title {
    text-align: center;

}

div.liveTime {
    font-size: xx-large;
    text-align: center;
}

button.AddEvent {
    /* Rounded green button */
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px auto;
    width: 80%;
    /* fade in the button */
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /* Safari */
}

button.AddEvent:hover {
    /* Rounded green button */
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    margin: 10px auto;
    width: 80%;
    max-width: 70%;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; /* Safari */
}